* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

:root,
:root.light {
    --color-gold: #FFCA00;
    --color-gray: #9F9FA0;
    --color-gray-dark: #5D5D65;
    --color-gray-light: #E5E5EA;
    --color-white: #FFFFFF;

    --bg-border: #DAEEFA;
    --bg-btn: linear-gradient(90deg, #4FDDDE 0%, #4FAAEF 100%);
    --bg-nav: #EEEEEE;
    --bg-outer: linear-gradient(90deg, #4FDDDE 0%, #4FAAEF 100%);
    --bg-section: #FFFFFF;
    --bg-task: #FAFAFA;
    --box-shadow: rgb(205 220 230) 2px 2px 5px 0px inset, rgba(255, 255, 255, 0.5) -3px -2px 5px 1px inset;
    --state-active: #4FDDDE;
    --state-finished: #4FDDDE;
    --state-hover: #4FAAEF;
    --state-struck: #9F9FA0;
    --text-tab: #5D5D65;
    --text-task: #101010;
    --text-heading: #45C5C5;
}

:root.dark {
    --bg-border: #3A3A40;
    --bg-btn: linear-gradient(90deg, #000F20 0%, #052050 100%);
    --bg-nav: #2A2A2F;
    --bg-outer: #101010;
    --bg-section: #202020;
    --bg-task: #2F2F2F;
    --box-shadow: rgb(55 60 65) 0px 0px 4px 0px inset, rgb(25 25 25 / 50%) 2px 3px 1px 1px inset;
    --state-active: #3A3A40;
    --state-finished: #4FAAEF;
    --state-hover: #3565B0;
    --state-struck: #4FAAEF;
    --text-tab: #CACACA;
    --text-task: #9F9FA0;
    --text-heading: #F0F0F0;
}

.container {
    height: 100vh;
    grid-template-rows: 3.5rem 1fr 2rem;
}

.collapsed {
    grid: 1fr / 0 1fr;

}

.grid {
    display: grid;
}

.material-symbols-outlined,
lord-icon {
    cursor: pointer;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 3.5rem;
    justify-content: space-between;
    background: var(--bg-outer);
    color: var(--color-white);
    padding: 0.5rem;
}

.menu-icon:hover,
.add-icon:hover {
    transform: scale(1.1);
    color: var(--state-hover);
}


.flex {
    display: flex;
    align-items: center;
}

.logo span {
    padding-right: 1rem;
    font-size: 2rem;
}

.theme-icon {
    outline: none;
    appearance: none;
    cursor: pointer;
    background-image: url(./images/day.jpg);
    background-size: cover;
    transition: 0.5s;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 1px var(--color-gray-dark);
}

.theme-icon::before {
    content: "";
    background-color: var(--color-gold);
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transform: translate(100%);
}

.theme-icon:checked {
    background-image: url(./images/night.jpg);
    background-size: cover;
    transition: 0.5s;
}

.theme-icon:checked::before {
    background-color: var(--color-gray-light);
    transform: translate(0%);
}

.content {
    height: 100%;
    margin-bottom: 2rem;
    grid-template-columns: 15rem 1fr;
    transition: 0.5s;
}

nav {
    grid-template-rows: 21rem 3rem 26rem;
    overflow-y: auto;
    background-color: var(--bg-nav);
    padding: 1rem;
}

.category {
    border-radius: 5px;
    color: var(--text-tab);
    cursor: pointer;
    margin: 10px;
}

.category:hover {
    color: var(--state-hover);
    box-shadow: var(--box-shadow);
}

.category.active {
    background: var(--state-active);
    color: var(--color-white);
}

.category span {
    padding: 5px;
}

.add-div {
    color: var(--text-heading);
    justify-content: space-between;
}

.nav-projects {
    overflow-y: auto;
}

section {
    background-color: var(--bg-section);
    padding: 1rem;
    overflow: hidden;
    height: 100%;
}

.taskView {
    transition: 0.3s;
    overflow: hidden;
}

.minimized {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

.tasks {
    height: 100%;
    overflow-y: auto;
}

.task {
    font-family: system-ui;
    margin: 0 20px 0 20px;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-border);
}

.details {
    color: var(--text-task);
    margin: 5px;
    padding: 0.5rem;
    border: 1px solid var(--bg-border);
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.details div:nth-child(2) {
    grid-area: 1 / 2 / 3 / 3;
}

.details div span:first-child {
    font-weight: bold;
    color: var(--text-heading);
}

.task:hover {
    background-color: var(--bg-task);
}

.line {
    display: flex;
    justify-content: space-between;
}

.task span {
    margin: 0 3px;
}

.task p,
.finish-icon {
    color: var(--text-task);
}

.finish-icon:hover {
    color: var(--state-finished);
}

.task .grid {
    grid-template-columns: 6rem repeat(4, 1.4rem);
    column-gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

span.star,
span.expand {
    background: linear-gradient(#4FDDDE, #4FAAEF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-variation-settings: 'FILL' 1;
}

span.expand:hover {
    transform: scale(1.2);
}

.expand.hidden,
.star.hidden,
.add-project.hidden,
.hidden {
    display: none;
}

.finished {
    position: relative;
}

span.finished {
    color: var(--state-finished);

}

p.finished {
    color: var(--state-struck);
}

p.finished::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--state-struck);
    transform-origin: center left;
    animation: strike 1s cubic-bezier(0.5, 0, 0.1, 1);
}

@keyframes strike {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

form {
    grid-template-rows: 2rem;
    row-gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    min-width: 35rem;
    height: 0;
    color: var(--text-heading);
    background: var(--bg-nav);
    border-radius: 1rem;
}

.visible {
    height: 35rem;
    padding: 2rem;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
}

form .flex {
    justify-content: space-between;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

form input,
form textarea,
form select {
    font-family: system-ui;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 0.5rem;
    color: var(--text-tab);
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: var(--bg-task);
}

form input:focus,
form textarea:focus,
form select:focus {
    border: 1px solid var(--state-active);
}

textarea {
    resize: none;
}

.isImportant {
    align-items: center;
    width: fit-content;
}

.isImportant input {
    flex-shrink: 25;
}

.isImportant label {
    width: 30rem;
}

form .btns {
    justify-content: flex-end;
}

form button {
    cursor: pointer;
    width: fit-content;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 12px 20px;
    background-size: 150% 150%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button.cancel {
    background-color: var(--bg-section);
    color: var(--color-gray-dark);
    border: 1px solid var(--bg-nav);
    margin-right: 1rem;
}

button.cancel:hover {
    border: 1px solid var(--state-hover);
    color: var(--state-hover);
}

.create-task,
.confirm-edit {
    color: var(--color-white);
    background-image: var(--bg-btn);
    padding: 13px 21px;
}

.create-task:hover,
.confirm-edit:hover {
    background-position: right center;
}

.project-form {
    grid-template-rows: 2rem 4rem 4rem;
    row-gap: 0;
}

.project-form span {
    position: relative;
    text-align: right;
}

#newProject {
    margin-left: 10px;
}

form .add-icon {
    margin-left: 10px;
}

.save-project {
    margin-left: 9px;
    padding: 9px 12px;
}

.projects {
    overflow-y: auto;
}

.editing {
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    justify-content: center;
    background: var(--bg-outer);
    color: var(--color-white);
    padding: 0.5rem;
}

footer a {
    color: var(--color-white);
}

footer a:hover {
    color: var(--color-gray-dark);
}